<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unstaffed</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <div class="navbar" id="navbar">
        <div class="nav_img">
            <img src="{{ url_for('static', filename='images/Nav_logo.png') }}" alt="nav_logo" class="nav_logo">
        </div>
        <div class="nav_tabs">
            <a href="/search">Search</a>
            <a href="/dashboard">Profile</a>
            <a href="/contacts">Contacts</a>
            <a href="/about">About Us</a>
            <a href="/feedback">Feedback</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="about">
        <h2>
            Gig Chomp is the freelance platform where freelancers can keep all of the money they earn.

            Gig Chomp connects freelancers from all industries to those seeking out services. 
            Freelancers can earn money doing anything from copywriting to developing prototypes, 
            and individuals or corporations can seek out any services they need, all while feeling 
            good about Gig Chomp’s fee model in which freelancers keep 100% of the money they earn, 
            no cuts taken on our end (other freelance platforms take up to 20%). Freelancers pay a small 
            monthly fee to have unlimited access to the website, and all of the money they earn is theirs to keep!
        </h2>
    </div>
</body>
</html>