<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Unstaffed</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </head>
  <body>
    <div class="navbar" id="navbar">
      <div class="nav_img">
          <img src="{{ url_for('static', filename='images/Nav_logo.png') }}" alt="nav_logo" class="nav_logo">
      </div>
      <div class="nav_tabs">
          <a href="/home">Home</a>
          <a href="/search">Search</a>
          <a href="/dashboard">Profile</a>
          <a href="/contacts">Contacts</a>
          <a href="/about">About Us</a>
          <a href="/feedback">Feedback</a>
          <a href="/logout">Logout</a>
      </div>
    </div>
    <form class="form3" method="POST" action="freelancer_input">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password"><br>
      <label for="about_me">About Me:</label>
      <input type="text" id="about_me" name="about_me"><br>
      <label for="Gig">Gig:</label>
      <select id="user_type" name="user_type" required>
        <option value="marketing">Marketing</option>
        <option value="social media">Social Media</option>
        <option value="product design">Product Design</option>
        <option value="website design">Website Design</option>
        <option value="ugc content creation">UGC Content Creation</option>
        <option value="copywriting">Copywriting</option>
        <option value="advertising">Advertising</option>
        <option value="graphic design">Graphic Design</option>
        <option value="branding">Branding</option>
        <option value="bussiness ">Video Editing</option>
        <option value="bussiness development">Bussiness Development</option>
      </select>
      <label for="salary">Salary:</label>
      <input type="text" id="salary" name="salary"><br>
      <select id="user_type" name="user_type" required>
        <option value="marketing">fixed</option>
        <option value="accounting">hourly</option>
      </select>
      <label for="projects">Projects:</label>
      <input type="file" id="projects" name="projects"><br>
      <label for="location">Location:</label>
      <input type="text" id="location" name="location"><br>
      <input type="submit" value="Create Account">
    </form>
  </body>
</html>
