<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unstaffed</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <div class="navbar" id="navbar">
        <div class="nav_img">
            <img src="{{ url_for('static', filename='images/Nav_logo.png') }}" alt="nav_logo" class="nav_logo">
        </div>
        <div class="nav_tabs">
            <a href="/home">Home</a>
            <a href="/search">Search</a>
            <a href="/dashboard">Profile</a>
            <a href="/contacts">Contacts</a>
            <a href="/about">About Us</a>
            <a href="/feedback">Feedback</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="user_display">
        <h1>Profile</h1>
        <h2> Userame: {{ username }}</h2>
        <h2>Email: {{ email }}</h2>
        <h2>About Me: {{ about_me }}</h2>
        <h2>Location: {{ location }}</h2>
        <h2>Skills: {{ skills }}</h2>
        <h2>Salary: {{ salary }}</h2>
        <a href="{{ url_for('freelancer_input') }}"><button id="button1">update information</button></a>
        <a href="{{ url_for('requests') }}"><button id="button1">view requests</button></a>
</body>
</html>