<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Unstaffed</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </head>
  <body>
    <div class="navbar" id="navbar">
      <a href="/home">Home</a>
      <a href="/search">Search</a>
      <a href="/dashboard">Profile</a>
      <a href="/logout">Logout</a>
    </div>
    <form class="form2" method="POST" action="/search">
      <label for="location">Location:</label>
      <input type="text" id="location" name="location"><br>
      <label for="salary">Salary:</label>
      <input type="text" id="salary" name="salary"><br>
      <label for="skills">Skills:</label>
      <input type="text" id="skills" name="skills"><br>
      <label for="keyword">Keyword:</label>
      <input type="text" id="keyword" name="keyword"><br>
      <input type="submit" value="Search">
    </form>
  </body>
</html>
