<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <title>Profile Form</title>
</head>
<body>
  <div class="navbar" id="navbar">
    <div class="nav_img">
        <img src="{{ url_for('static', filename='images/Nav_logo.png') }}" alt="nav_logo" class="nav_logo">
    </div>
    <div class="nav_tabs">
        <a href="/home">Home</a>
        <a href="/search">Search</a>
        <a href="/dashboard">Profile</a>
        <a href="/contacts">Contacts</a>
        <a href="/about_us">About Us</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
    </div>
  </div>
  <form class="form6" method="POST" action="/user_input">
    <label for="company_name">userame:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>
    <label for="password">password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form>
  </body>
</html>